@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
    --bg-color: #f1f1f1;
    --color: #ff5b3e;
    --lcolor: #ff8974;
    --dcolor: #ff5b3e9c;
    --text-color: #323232;
    --btn-bg: #f1f1f1;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    margin: 25px 10px 0 10px;
    height: 90%;
    width: 100%;
}

#logo {
    width: 10%;
}

#logo i{
    color: var(--color);
    margin-left: 0.5em;
    font-size: 4em;
}

/* Encryptor */

#encryptor {
    height: 100%;
    width: 60%;
}

.title {
    color: var(--color);
    font-size: 3em;
    font-weight: 700;
}

.text-input-container {
    height: 65%;
}

.text-input-container textarea {
    background-color: transparent;
    border: 1px solid;
    border-radius: 1em;
    font-size: 1.5em;
    margin: 1em 0;
    padding: 1.5em 1em;
    resize: none;
    height: 85%;
    width: 95%;
}

::placeholder {
    color: var(--text-color);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    height: 20%;
}

.buttons-container p {
    font-size: 0.8em;
}

.buttons-container button {
    margin: 1em 1em 0 0;
}

button {
    border: 1px var(--lcolor) solid;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    padding: 1em 0em;
    width: 13em;
}

button:hover {
    background-color: var(--lcolor);
    color: var(--text-color);
    transition: 1s all;
}

.dark-btn {
    background-color: var(--color);
    color: var(--btn-bg);
}

.light-btn {
    background-color: var(--btn-bg);
    color: var(--color);
}

/* Text Output */

.text-output-container {
    background-color: var(--dcolor);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95%;
    width: 25%;
}

#text-output {
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    padding: 2em;
    resize: none;
    height: 90%;
    width: 100%;
}

.text-output-container img{
    position: absolute;
    width: 90%;
}

.text-output-container button{
    margin-bottom: 1em;
}

/* Footer */

footer {
    display: flex;
    background-color: var(--dcolor);
    align-items: center;
    justify-content: center;
    font-size: 1em;
    gap: 50px;
    height: 10%;
    width: 100%;
    text-align: center;
}